[submodule "SceneForge/third-party/glm"]
	path = SceneForge/third-party/glm
	url = https://github.com/g-truc/glm.git
[submodule "SceneForge/third-party/glfw"]
	path = SceneForge/third-party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "SceneForge/third-party/imgui"]
	path = SceneForge/third-party/imgui
	url = https://github.com/ocornut/imgui.git
